/* For debugging purposes */
/* * {
  outline: 1px solid #f00 !important;
} */

.App {
  text-align: center;
}

navbar {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width:30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3{
  margin:0;
  margin-bottom:10px;
}

.container p{
  margin:0;
  margin-bottom:10px;
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/montserrat-v25-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../assets/fonts/montserrat-v25-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../assets/fonts/montserrat-v25-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-600.woff') format('woff'), /* Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../assets/fonts/montserrat-v25-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/montserrat-v25-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-700.woff') format('woff'), /* Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/montserrat-v25-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../assets/fonts/montserrat-v25-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../assets/fonts/montserrat-v25-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-800.woff') format('woff'), /* Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../assets/fonts/montserrat-v25-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/montserrat-v25-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
          url('../assets/fonts/montserrat-v25-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../assets/fonts/montserrat-v25-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-900.woff') format('woff'), /* Modern Browsers */
          url('../assets/fonts/montserrat-v25-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../assets/fonts/montserrat-v25-latin-900.svg#Montserrat') format('svg'); /* Legacy iOS */
  }