.banner {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .content {
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.banner .content * {
  margin: 5px;
}

#awtf .banner {
  background-color: #2a639d;
  color: white;
}

#aahaa .banner {
  background-color: white;
  color: #61a656;
}

@media only screen and (max-width: 800px) {
  .banner .content {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  .banner .content {
    font-size: 10px;
    line-height: 15px;
  }
}
