#home{
    position:relative;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:space-between
}

#home a {
    text-decoration: none;
    color: inherit;
}

/* AWTF Container */
#awtf-container{
    width:50%;
    background-color: #5381aa;
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    transition: background-color 0.1s linear;
}

#awtf-container:hover{
    background-color: #5381aad3;
}

/* AAHAA Container */
#aahaa-container{
    width:50%;
    background-color: #61ce70; 
    display:flex;
    justify-content: center;
    align-items:center;
    cursor:pointer;
    transition: background-color 0.1s linear;
}

#aahaa-container:hover{
    background-color: #61ce70b4;
}

.container{
    width:50%;
}