@media only screen and (min-width: 1000px) {
  /* Container states */
  #home .container-normal {
    width: 50%;
  }

  #home .container-expand {
    width: 80%;
  }

  #home .container-shrink {
    width: 20%;
  }

  #home .content.invisible {
    opacity: 0;
    font-size: 0px;
  }

  #home .content.visible {
    opacity: 1;
    font-size: 20px;
  }
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", san-serif;
  overflow: hidden;
}

#home .home-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
}

#home .home-banner .content {
  width: 80%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .home-banner .content p {
  line-height: 22px;
}

#home .home-banner * {
  margin: 0;
}

#home .home-banner h2 {
  margin-bottom: 8px;
}

#home .background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

#home a {
  text-decoration: none;
  color: inherit;
}

#home .container {
  width: 100%;
  height: 100%;
}

#home .content {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

#home .content:hover {
  transition: opacity 1s ease, font-size 0.3s ease;
  transition-delay: 0.4s;
}

#home .quote {
  position: absolute;
  top: 85vh;
  left: 50%;
  /* width:80%; */
  font-weight: 500;
  transform: translateX(-50%);
  font-size: 20px;
}

/* #awtf-container .quote {
  top: 30vh;
} */

#home .services {
  position: absolute;
  top: 43vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#home .services h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 10px;
  color: white;
}

#home .services ul {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

#home .services li {
  margin: 0 10px;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 400;
}

/* AWTF Container */
#awtf-container {
  /* width:50%; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear, width 0.6s ease;
}

#awtf-container:hover {
  /* background-color: rgba(255, 255, 255, 0.9); */
}

/* AAHAA Container */
#aahaa-container {
  /* width:50%; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.8); /* #61ce70 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s linear, width 0.6s ease;
}

#aahaa-container:hover {
  /* background-color: #61ce70b4; */
}

/* Logos */
#home #awtf-logo {
  position: absolute;
  min-width: 200px;
  width: 90%;
  max-width: 700px;
  top: 35vh;
  transform: translateY(-50%);
}

#home #aahaa-logo {
  position: absolute;
  min-width: 150px;
  width: 40%;
  max-width: 270px;
  top: 35vh;
  transform: translateY(-50%);
}

/* @media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 992px) {
} */

@media only screen and (max-width: 1000px) {
  #home {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  #home .home-banner {
    position: relative;
    height: 140px;
  }

  #home .home-banner .content {
    width: 95%;
  }

  #home .home-banner .content h2 {
    font-size: 14px;
  }

  #home .home-banner .content p {
    font-size: 12px;
    line-height: 16px;
  }

  #awtf-container {
    width: 100vw;
    height: 30vh;
    /* height:50vh; */
  }

  #aahaa-container {
    width: 100vw;
    height: 30vh;
    /* height:50vh; */
  }

  /* Logos */
  #home #awtf-logo {
    position: absolute;
    top: 6vh;
    min-width: 400px;
    width: 70%;
    max-width: 700px;
  }

  #home #aahaa-logo {
    position: absolute;
    top: 6vh;
    min-width: 150px;
    width: 20%;
    max-width: 300px;
  }

  .invisible {
    opacity: 1;
  }

  #home .services {
    top: 13vh;
  }

  #home .services ul {
    margin: 0;
    padding: 0;
  }

  #home .services h3 {
    font-size: 10px;
    margin-bottom: 15px;
  }

  #home .services li {
    font-size: 8px;
    margin-right: 10px;
  }

  #home .quote {
    top: 35vh;
    font-size: 12px;
  }

  /* Container states */
  #home .container-normal {
    width: 100%;
    height: 50%;
  }

  #home .container-expand {
    width: 100%;
    height: 50%;
  }

  #home .container-shrink {
    width: 100%;
    height: 50%;
  }
}

@media only screen and (max-width: 800px) {
  #home .services {
    top: 11vh;
  }

  #home .services li {
    margin-bottom: 12px;
  }

  #home #aahaa-logo {
    min-width: 120px;
    width: 15%;
    max-width: 300px;
  }
}

@media only screen and (max-width: 600px) {
  #home .services {
    top: 10vh;
  }

  #home .services li {
    margin-bottom: 10px;
  }

  #home .quote {
    font-size: 11px;
  }
}

@media only screen and (max-width: 450px) {
  #home .home-banner .content h2 {
    font-size: 10px;
  }

  #home .home-banner .content p {
    font-size: 8px;
    line-height: 14px;
  }

  /* Logos */
  #home #awtf-logo {
    top: 8vh;
    min-width: 300px;
    width: 70%;
    max-width: 700px;
  }

  #home #aahaa-logo {
    top: 8vh;
  }

  #home .services {
    top: 13vh;
  }

  #home .services ul {
    margin: 0;
    padding: 0;
    width: 80%;
  }

  #home .services h3 {
    font-size: 8px;
    margin-bottom: 10px;
  }

  #home .services li {
    font-size: 6px;
  }

  #home .quote {
    font-size: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  #home .quote {
    font-size: 10px;
  }

  /* Logos */
  #home #awtf-logo {
    top: 6vh;
    min-width: 250px;
  }

  #home #aahaa-logo {
    top: 6vh;
  }

  #home .services {
    top: 12vh;
  }
}
