@media only screen and (min-width: 1000px) {
  /* Container states */
  #home .container-normal {
    width: 50%;
  }

  #home .container-expand {
    width: 80%;
  }

  #home .container-shrink {
    width: 20%;
  }

  #home .content.invisible {
    opacity: 0;
    font-size: 0px;
  }

  #home .content.visible {
    opacity: 1;
    font-size: 20px;
  }
}

#home {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", san-serif;
  overflow: hidden;
}

#home .home-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  text-align: center;
}

#home .home-banner .content {
  width: 80%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .home-banner .content p {
  line-height: 22px;
}

#home .home-banner * {
  margin: 0;
}

#home .home-banner h2 {
  margin-bottom: 8px;
}

#home .background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}

#home a {
  text-decoration: none;
  color: inherit;
}

#home .container {
  width: 100%;
  height: 100%;
}

#home .content {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

#home .content:hover {
  /* transition: opacity 1s ease, font-size 0.3s ease; */
  /* transition-delay: 0.4s; */
}

#home .quote {
  position: absolute;
  top: 85vh;
  left: 50%;
  /* width:80%; */
  font-weight: 500;
  transform: translateX(-50%);
  font-size: 20px;
}

/* #awtf-container .quote {
  top: 30vh;
} */

#home .services {
  position: absolute;
  top: 45vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#home .services h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 20px;
  color: white;
}

#home .services ul {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

#home .services li {
  padding: 5px;
  margin: 0 10px;
  margin-bottom: 35px;
  font-size: 16px;
  font-weight: 400;
  transition: text-shadow 0.1s linear;
}

#home .services li:hover {
  text-shadow: 0px 0px 20px white, 0px 0px 20px white;
}

/* AWTF Container */
#awtf-container {
  /* width:50%; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s linear, width 0.6s ease;
}

#awtf-container:hover {
  /* background-color: rgba(255, 255, 255, 0.9); */
}

/* AAHAA Container */
#aahaa-container {
  /* width:50%; */
  position: relative;
  background-color: rgba(0, 0, 0, 0.8); /* #61ce70 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.1s linear, width 0.6s ease;
}

#aahaa-container:hover {
  /* background-color: #61ce70b4; */
}

/* Logos */
#home #awtf-logo {
  position: absolute;
  min-width: 200px;
  width: 90%;
  max-width: 700px;
  top: 35vh;
  transform: translateY(-50%);
}

#home #aahaa-logo {
  position: absolute;
  min-width: 200px;
  width: 30%;
  max-width: 320px;
  top: 32vh;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1200px) {
  #home .services ul {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  #home #aahaa-logo {
    top: 30vh;
  }

  #home .services {
    position: absolute;
    top: 40vh;
  }

  #home .services ul {
    width: 95%;
  }

  #home .services li {
    font-size: 14px;
  }

  #home .home-banner .content h2 {
    font-size: 18px;
  }

  #home .home-banner .content p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 800px) {
  #home #aahaa-logo {
    top: 25vh;
  }

  #home .services {
    position: absolute;
    top: 35vh;
  }

  #home .services ul {
    width: 95%;
  }

  #home .services li {
    font-size: 14px;
  }

  #home .quote {
    top: 90vh;
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  #home #aahaa-logo {
    top: 25vh;
    width:60%;
  }

  #home .services {
    position: absolute;
    top: 35vh;
  }

  #home .services ul {
    width: 95%;
  }

  #home .services li {
    font-size: 14px;
    margin-bottom: 20px;
  }

  #home .quote {
    top: 90vh;
    font-size: 16px;
    width:100%;
  }

  #home .home-banner .content h2 {
    font-size: 14px;
  }

  #home .home-banner .content p {
    font-size: 10px;
  }
}

@media only screen and (max-width: 450px) {
  #home #aahaa-logo {
    top: 23vh;
    width:50%;
  }

  #home .services {
    position: absolute;
    top: 29vh;
  }

  #home .services ul {
    width: 95%;
  }

  #home .services li {
    font-size: 14px;
    margin-bottom: 15px;
  }

  #home .quote {
    top: 91vh;
    font-size: 16px;
    width:100%;
  }

  #home .home-banner .content p {
    font-size: 10px;
    line-height: 14px;
  }
}

@media only screen and (max-width: 300px) {
}
